/* Main background color and font family styling for the body */
body {
background-color: #C8102E;
font-family: Arial, sans-serif;
}

/* Styles the color of the second table on each page */
table:nth-of-type(2) {
  background-color: white;
}

/* Styles the color of the third table on each page */
table:nth-of-type(3) {
  background-color: #418FDE
}

/* Used to darken certain images for gallery-type feel */
.fade-image {
    opacity: 0.8; 
}